<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments :: head}">
	</head>
	<body>
		<header th:replace="~{fragments :: header}">
		</header>
		<main>
			<div class="container m-5 mx-auto">
				<div class="col-8 mx-auto border border-black">
					<div class="p-5 text-center d-flex flex-column">
						<h1 th:text="'Best of the year by ' + ${name}" class="fs-3 mb-3"></h1>
						<div class="bg-warning-subtle p-5 border border-warning-subtle col-8 mx-auto">Image</div>
						<div class="p-5 border border-black mb-4 col-8 mx-auto">lorem ipsum</div>
					</div>
				</div>
			</div>
		</main>
		<div th:replace="~{fragments :: scripts}"></div>
	</body>
</html>