<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments :: head}">
		
	</head>
	<body>
		<header th:replace="~{fragments :: header}">
		</header>
		<main>
				<div class="container m-5">
					<div class="col-8 mx-auto border border-black">
							<div class="p-5 text-center d-flex flex-column">
								<h1 th:text="${title}" class="fs-3 mb-3"></h1>
								<div class="card border border-dark mb-4 col-8 mx-auto">
									  <ul class="list-group list-group-flush" th:if="${list.size() > 0}">
											<li th:each="element : ${list}" class="list-group-item border border-dark-subtle">
												<a  class="text-decoration-none text-black" th:text="${element.getTitle()}" 
												th:href="@{${route} + '/' + ${element.id}}"></a>
											</li>
									  </ul>                   
								</div>              
							</div>
					</div>
				</div>
		</main>
		<div th:replace="~{fragments :: scripts}"></div>
	</body>
</html>